
@{
    ViewData["Title"] = "VisualizerLetters";
}
@{
    Lab1Consola.Models.Applicant applicant = ViewBag.applicant;
    bool showLetters = ViewBag.letters;
    var conversations = ViewBag.conversations;
    <table class="table">
        <thead>
            <tr>
                <th><p>Cartas del solicitante</p></th>
                <th>
                    <form asp-action="VisualizerDetails">
                        <input type="hidden" id="applicant" name="applicant" value=@applicant.dpi />
                        <input type="hidden" id="applicant" name="letters" value=false />
                        <input type="submit" value="Regresar al solicitante" />
                    </form>
                </th>

            </tr>
        </thead>

    </table>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        DPI
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th>
                        Fecha de nacimeinto
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @applicant.name
                    </td>
                    <td>
                        @applicant.dpi
                    </td>
                    <td>
                        @applicant.address
                    </td>
                    <td>
                        @applicant.datebirth
                    </td>
                    <td>
                    </td>

                </tr>

            </tbody>
        </table>
        @if (showLetters)
        {
            <div class="text-center"><h4>Cartas</h4></div>
            @if (applicant.letters != null)
            {


                @for (int i = 0; i < @applicant.letters.Count; i++)
                {
                    <p>Carta @(i + 1): <br />@applicant.letters[i]</p>
                }
            }
            else
            {
                <p>No hay cartas registradas</p>
            }
        }
        else
        {
            <div class="text-center"><h4>Conversaciones</h4></div>
            @if (conversations != null)
            {
                <table>
                    <tr>
                        <th>Validación</th>
                        <th>Conversación</th>
                    </tr>
                    @foreach (var tupla in conversations)
                    {
                        <tr>
                            <td>@tupla.Item1</td>
                            <td>@tupla.Item2</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No hay conversaciones registradas</p>
            }
        }
    </div>
}